.blog-layout {
  color: #fff;
  max-width: 90%;
  margin: 0 auto;
  width: 800px;
  text-align: left;

  h1 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 45px;
  }
  h5 {
    line-height: 2rem;
    max-width: 700px;
    margin: 30px;
    font-size: 24px;
    span {
      font-weight: 400;
    }
  }
  hr {
    background: rgba(255, 255, 255, 0.3);
  }
  p {
    max-width: 650px;
    color: #eee;
    font-size: 1.2rem;
  }

  aside {
    border-left: 4px solid rgba(130, 6, 231, 1);
    background: rgba(0, 0, 0, 0.15);
    padding: 10px 20px;
    margin: 30px 0;
    font-weight: 600;
  }

  span {
    font-size: 1.2rem;
  }

  a {
    color: #fff;
  }
}

.blog-post {
  padding: 10px 0;
  color: #ccc;

  h3 {
    font-family: 'Montserrat';
    margin: 0 0 10px 0;
    text-decoration: underline;
    color: #d5d5d5;
    font-weight: 700;
  }
  p {
    color: #bbb;
  }
  &:hover {
    h3 {
      color: #fff;
    }
    p {
      color: #ddd;
    }
  }
}
