.blog-layout {
  color: #fff;
  max-width: 90%;
  margin: 0 auto;
  width: 800px;
  text-align: left;

  h1 {
    font-weight: 400;
  }
}

.blog-post {
  padding: 10px 0;
  color: #ccc;

  h3 {
    font-family: 'Montserrat';
    margin: 0 0 10px 0;
    text-decoration: underline;
    color: #d5d5d5;
  }
  p {
    color: #bbb;
  }
  &:hover {
    h3 {
      color: #fff;
    }
    p {
      color: #ddd;
    }
  }
}
