body {
  --gradient: linear-gradient(180deg, #e9435e 0%, rgba(27, 1, 159, 0.5) 100%);
  --color-primary: #c7169c;
  --font-size-text: 16px;

  background: #fff;
  font-size: --font-size-text;
  line-height: 20px;
}
.button {
  background: var(--color-primary);
  text-transform: uppercase;
  border-radius: 6px;
  padding: 20px;
  color: #fff;
  letter-spacing: 1.5px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Averta-Semibold', sans-serif;
}
button {
  cursor: pointer;
}
h1 {
  font-size: 100px;
  line-height: 90px;
  font-weight: 600;
  text-align: center;
  font-family: 'SF Pro Display', sans-serif;
  text-shadow: 0px 30px 30px rgba(0, 0, 0, 0.5);
  margin: 0;
}
h2 {
  font-size: 48px;
  line-height: 60px;
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 10px;
}
h3 {
  font-size: 36px;
  line-height: 43px;
  letter-spacing: -1px;
  font-family: 'Averta-Semibold', sans-serif;
  margin: 0 0 10px 0;
  font-weight: 600;
}
h4 {
  font-size: 32px;
  line-height: 38px;
  margin: 0;
  text-transform: none;
  letter-spacing: -1px;
}

p {
  font-size: 20px;
  color: #4d4848;
  line-height: 26px;

  strong {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: -1px;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 54px;
    line-height: 48px;
  }
  h2 {
    font-size: 40px;
    line-height: 50px;
  }
  h3 {
    font-size: 30px;
    line-height: 38px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
  p {
    font-size: 16px;
    line-height: 21px;
  }
}

#navbar {
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;

  @media (max-width: 800px) {
    padding: 20px;
  }

  #nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    color: #fff;
    text-decoration: none;
    box-shadow: none;
    padding: 20px;
    font-family: 'Averta-Semibold', sans-serif;
  }

  .signup {
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #fff;
    letter-spacing: 1.5px;
  }

  img {
    margin: 0;
    height: 54px;
    width: auto;
    align-self: flex-end;
  }
}

.hero {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    max-width: 450px;
    margin: 20px 0 0 0;
    color: #fff;

    @media (max-width: 800px) {
      max-width: 350px;
    }
  }

  button {
    width: 350px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #696c74;
    border-radius: 10px;
    font-weight: 600;
    margin: 40px 0 0 0;
    border: none;
    outline: none;
    background: #fff;

    svg {
      font-size: 20px;
      margin-right: 7px;
    }
  }

  @media (max-width: 1100px) {
    min-height: 600px;
  }

  .apps {
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    p {
      margin: 0 0 0 4px;
    }

    svg {
      margin-right: 5px;
      font-size: 24px;
    }
  }
}

.devices {
  padding: 100px 60px 50px 60px;
  position: relative;
  .img-container {
    width: 75%;
    margin-left: 25%;
    margin-top: -55px;

    @media (max-width: 1100px) {
      margin-top: 0;
    }
  }
  .slant {
    position: absolute;
    top: 0;
    bottom: -350px;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(
      180deg,
      #f8f8f8 35%,
      rgba(233, 233, 233, 0) 100%
    );
    clip-path: polygon(0% 55%, 100% 35%, 100% 100%, 0% 100%);
  }
}

.motivators {
  padding: 100px 60px 50px 60px;
  position: relative;

  > p {
    margin-bottom: 10px;
  }

  .motivators--table {
    display: grid;
    grid-template: 25% 25% 25% 25% / 6% 22% 22%;
    margin-top: 65px;
  }
  .motivators--table_body,
  .motivators--table_title,
  .motivators--table_number {
    border-top: 2px solid #efefef;
    padding: 30px 0;
  }
  .motivators--table_number {
    font-size: 80px;
    line-height: 72px;
    color: #dcdcdc;
    font-weight: 800;
  }
  .motivators--table_title {
    font-weight: 700;
    padding-right: 30px;
  }

  .motivators--img-1 {
    position: absolute;
    left: 52%;
    top: 50px;
    width: 28%;
    z-index: 1;
  }
  .motivators--img-2 {
    position: absolute;
    left: 65%;
    top: 30vw;
    width: 28%;
    z-index: 0;
  }

  @media (max-width: 1100px) {
    .motivators--table {
      grid-template: 25% 25% 25% 25% / 6% 30% 30%;
    }
    .motivators--table_title {
      padding-left: 30px;
    }

    .motivators--img-1 {
      width: 24%;
      left: 65%;
      top: 150px;
    }
    .motivators--img-2 {
      width: 24%;
      left: 78%;
      top: 40vw;
    }
  }
  @media (max-width: 800px) {
    .motivators--table {
      grid-template: 25% 25% 25% 25% / 10% 40% 50%;
    }
    .motivators--table_title {
      padding-left: 30px;
    }

    .motivators--img-1 {
      display: none;
    }
    .motivators--img-2 {
      display: none;
    }
  }
}

.demo-button {
  text-align: center;
  padding: 80px 0 150px 0;
}

#partners {
  padding: 90px 0 0 0;
  background: linear-gradient(
    180deg,
    #f8f8f8 -27.43%,
    rgba(233, 233, 233, 0) 100%
  );
  text-align: center;

  > p {
    font-size: 24px;
    line-height: 32px;
  }

  .partners--logos {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 100px 50px;
    margin: 0 auto;

    div {
      padding: 20px;
    }

    div:nth-of-type(1),
    div:nth-of-type(2),
    div:nth-of-type(3),
    div:nth-of-type(6),
    div:nth-of-type(7),
    div:nth-of-type(8) {
      width: 33%;
    }
    div:nth-of-type(4),
    div:nth-of-type(5) {
      width: 50%;
    }
    div:nth-of-type(4) {
      text-align: right;
      padding-right: 80px;
    }
    div:nth-of-type(5) {
      text-align: left;
      padding-left: 80px;
    }
  }
}

.hero-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15vw 60px;
  justify-content: center;

  .content {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h2 {
      margin-bottom: 10px;
    }
    p {
      text-align: left;
      font-weight: 300;
      margin: 0;
    }
    a {
      box-shadow: none;
      display: inline-block;
      margin: 50px auto 0 0;
    }
  }

  .video {
    width: 65%;
    padding-left: 30px;
  }

  iframe {
    height: 33vw;
  }

  @media (max-width: 800px) {
    flex-direction: column;
    min-height: 800px !important;

    .content {
      width: 100%;
    }

    p {
      max-width: none;
    }
    .video {
      width: 100%;
      padding: 0;
      margin-top: 60px;

      iframe {
        height: 46vw;
      }
    }
  }
}
