.operators {
  width: 100%;
  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 100%;

    li {
      width: 140px;
      display: flex;
      height: 100px;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      background: rgba(0, 0, 0, 0.3);
      margin-right: 20px;
      color: #fff;
      font-size: 3rem;
      font-weight: bold;
      font-family: 'Montserrat';
    }
  }
}
