body {
  background: #333;
  width: 100%;
  overflow: hidden;
}
.hljs-string {
  color: rgb(185, 227, 251);
}
.hljs-attr {
  color: rgb(226, 207, 255);
}
.hljs-name {
  color: rgb(255, 189, 198);
}
body pre {
  background: #1a1a1a !important;
  padding: 1.5em !important;

  &::-webkit-scrollbar {
    background: #222;
  }
  &::-webkit-scrollbar-thumb {
    background: #5c5c5c;
    border-radius: 8px;
    border: 5px solid #222;
  }
}
.wavebuilder-controls {
  width: 100%;
  margin: 0 auto;
  display: flex;
  color: #ccc;
  border-radius: 14px;
  padding: 40px;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding-top: 70px;

  .MuiRadio-root {
    padding: 2px;
  }

  > div {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  button {
    margin-left: auto;
  }

  h5,
  .MuiFormControlLabel-label {
    margin: 0 0 10px 0;
    font-size: 12px;

    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  .MuiFormControlLabel-label {
    display: flex;

    svg {
      width: 35px;
      transform: scaleY(1.5);
      margin-left: 8px;

      path {
        fill: #aaa !important;
      }
    }
  }

  .MuiFormControlLabel-label {
    margin: 0;
    font-size: 12px;

    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  .wave-icons-container {
    border: 1px solid rgba(120, 120, 120, 0.6);
    min-height: 140px;
    border-radius: 10px;
    margin-left: 30px;
    position: relative;
    flex-wrap: wrap;
    width: 350px;
    flex-direction: row;
    padding-top: 10px;

    .save-button {
      position: absolute;
      bottom: -5px;
      right: 0;
      width: auto;

      button {
        margin-right: 6px;
      }

      svg {
        background: transparent;
      }
    }

    h5 {
      position: absolute;
      top: -16px;
      left: 5px;
      padding: 10px;
      background: #333;
    }

    > div {
      width: 33%;
      position: relative;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 900px) {
      margin: 40px auto 0 auto;
      > div {
        padding: 5px 10px;
      }
    }

    svg {
      opacity: 1;
      background: #151515;
      border-radius: 3px;
    }

    .MuiIconButton-root {
      color: #bbb;

      svg {
      }
    }
  }
  .wave-icons-container {
    padding: 10px 5px;
  }
  @media (max-width: 900px) {
    .wave-dimensions-controls {
      order: 2;
    }
    .wave-icons-container {
      order: 4;
    }
    .MuiFab-root {
      order: 3;
    }
  }

  > .MuiFab-root {
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 3;
  }
  @media (max-width: 600px) {
    padding-top: 70px;
    padding-left: 3px;
    padding-right: 3px;

    .wave-icons-container {
      order: 4;
      width: 90%;
    }
  }
  .slider-container {
    position: relative;
    width: 72px;
  }
  .MuiSlider-root.MuiSlider-vertical {
    margin: 15px auto;
    height: 65px;
  }
  .opacity {
    padding-bottom: 3px;
    svg {
      width: 12px !important;
      margin: 0 auto;
    }
    .MuiSlider-root.MuiSlider-vertical {
      margin: 10px auto;
      height: 65px;
    }
  }
}
.checkered-bg {
  position: relative;
  display: flex;
}
.checkered-bg::before,
.checkered-bg::after {
  content: '';
  width: 100%;
  height: calc(100% - 8px);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
  opacity: 0.04;
  font-size: 0px;
  height: calc(100% - 8px);
}
.notIsolated {
  opacity: 0.05 !important;
}
.checkered-bg::before {
  background-image: linear-gradient(black 50%, transparent 50%),
    linear-gradient(to right, grey 50%, black 50%);
  background-size: 20px 20px;
}

.checkered-bg::after {
  background-image: linear-gradient(black, transparent);
}
.add-button {
  padding: 8px !important;
  background-color: rgba(245, 0, 87, 0.18) !important;

  svg {
    background: transparent !important;
    font-size: 18px !important;
  }
  &:hover {
    background-color: rgba(245, 0, 87, 0.4) !important;
  }
}
.wavestyle .MuiFormControlLabel-root {
  max-height: 50px;
  min-height: 35px;
}
.waveicon {
  opacity: 0.4;
  transition: 400ms;

  a {
    z-index: 0;
    position: relative;
  }

  .save-button {
    z-index: -1;
  }

  button {
    transform: scale(0);
    z-index: -1;
    transition: 400ms;
    background-color: rgba(245, 0, 87, 0.6) !important;
    padding: 5px;

    svg {
      font-size: 15px !important;
    }

    &:hover {
      background-color: rgba(245, 0, 87, 1) !important;
    }

    &.alternate {
      background-color: rgba(108, 16, 255, 0.6) !important;

      &:hover {
        background-color: rgba(108, 16, 255, 1) !important;
      }
      &.active {
        color: rgb(181, 135, 255) !important;
        background-color: rgba(0, 0, 0, 0.7) !important;
      }
    }
  }

  svg {
    cursor: pointer;
    transition: 400ms;
  }

  &:hover {
    opacity: 1;
  }
}
.add-button {
  height: 100%;
  width: 100%;
  border-radius: 0 !important;
}
.waveicon.active {
  opacity: 1;
  svg {
    transform: scale(1.2);
  }
  button svg {
    border: none;
  }
  .save-button {
    z-index: 1;
  }
  button {
    transform: scale(1);

    z-index: 1;
  }
}
path {
  transition: 200ms !important;
}

.logo svg {
  max-width: 50% !important;
  margin: 0 auto;
  transform: scale(1.5);
}
.logo a {
  margin: 0 auto;
  display: block;
  text-align: center;
}
#waves {
  min-width: 100% !important;
  max-width: 100% !important;
  width: 100% !important;
  height: auto !important;
}
