body {
  background-color: #f3f3f3;
  font-family: 'Open Sans', sans-serif;
}
.logo {
  @media (max-width: 800px) {
    margin-top: 30px;
  }
}
#profile {
  min-height: 500px;
  z-index: 48;
  top: 0;
  left: 0;
  padding-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 40;
  color: #fff;
  flex-direction: column;
  max-width: 100vw;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Montserrat', sans-serif;
  height: 80vh;

  h2 {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }

  p svg {
    font-size: 40px;
    margin-right: 25px;
  }
  a {
    color: #fff;
    opacity: 0.8;
  }
  h2,
  p {
    text-align: left;
    width: 100%;
    max-width: 600px;
  }

  @media (max-width: 800px) {
    h2 {
      font-size: 22px;
      padding-top: 50px;
    }
    p {
      font-size: 13px;
    }
    p svg {
      font-size: 30px;
    }
  }
}
.profile-container {
  position: absolute;
  top: -90vh;
  height: 90vh;
  width: 100%;
  background: linear-gradient(to right, purple, cyan);
  transition: 800ms ease-in-out;
  z-index: 5;
  min-width: 800px;
  &.open {
    top: -10vh;
  }
}
.background {
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  width: 50%;
  left: 25%;
  transform: scale(2);
  transform-origin: center top;
  transition: 800ms ease-in-out;
  top: 0vh;
  z-index: 5;

  &.open {
    top: 80vh;
  }
}
.background svg {
  min-width: 400px;
}
.navv {
  display: flex;
  position: fixed;
  top: 85vh;
  background: #fff;
  z-index: 50;
  left: 50vw;
  padding: 25px;
  width: 200px;
  justify-content: space-between;
  transform: translateX(-50%);
  box-shadow: 0 8px 35px rgba(50, 105, 132, 0.15);
  border-radius: 8px;

  svg {
    width: 25px;

    &:first-of-type {
      path {
        stroke-width: 1px;
      }
    }
    path {
      stroke-width: 1.5px;
    }
  }
}

a {
  color: rgba(50, 105, 132, 1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
h3 a {
  position: relative;

  &:hover:after {
    width: 120px;
  }
}
h3 a:after {
  background: rgba(50, 105, 132, 0.75);
  height: 3px;
  width: 80px;
  bottom: -5px;
  content: '';
  position: absolute;
  left: 0;
  transition: 250ms;
}

@media (max-width: 1100px) {
  .post-list {
    margin-top: -120px;
  }
}
