@import './styles/waveBuilder.scss';
@import './styles/blog.scss';
@import './styles/operatorLookup.scss';

@font-face {
  font-family: 'Dank Mono';
  src: url('../static/DankMono-Regular.woff2');
  font-style: normal;
}
@font-face {
  font-family: 'Dank Mono';
  src: url('../static/DankMono-Italic.woff2');
  font-style: italic;
}
@font-face {
  font-family: 'Dank Mono';
  src: url('../static/DankMono-Bold.woff2');
  font-style: bold;
}

body {
  font-family: 'Open Sans', sans-serif;
}
pre {
  span {
    text-shadow: none !important;
    font-family: 'Dank Mono', sans-serif !important;
  }
}
.avatar-image {
  position: absolute;
  top: 15px;
  right: 40px;
  display: flex;
  flex-direction: column;

  img {
    height: 80px;
    width: 80px;
    border-radius: 45px;
    margin: 10px auto;
    transition: 200ms;
    &:hover {
      transform: scale(1.1);
    }

    @media (max-width: 800px) {
      height: 50px;
      width: 50px;
    }
  }
  p {
    color: #ccc;
    margin: 2px 0 0 0;
  }
}
.logo {
  margin-bottom: 50px;
  padding-top: 20px;
  margin-top: 0;

  @media (max-width: 800px) {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 15px;
  }
}
.header-p {
  max-width: 70%;
  @media (max-width: 800px) {
    font-size: 14px;
    line-height: 18px;
    margin: -20px 0 0 5% !important;
  }
}
.header-wave {
  transform: scaleY(0.4);
  transform-origin: center top;

  @media (max-width: 1200px) {
    transform: scaleY(0.5);
  }
  @media (max-width: 1000px) {
    transform: scaleY(0.6);
  }
  @media (max-width: 850px) {
    transform: scaleY(0.7);
  }
  @media (max-width: 700px) {
    transform: scaleY(0.9);
  }
  @media (max-width: 550px) {
    transform: scaleY(1.1);
  }
  @media (max-width: 450px) {
    transform: scaleY(1.2);
  }
}
#profile {
  min-height: 500px;
  z-index: 48;
  top: 0;
  left: 0;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 40;
  color: #ddd;
  flex-direction: column;
  max-width: 95%;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  opacity: 1 !important;
  margin: 0 auto;

  h2 {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
  }

  p svg {
    font-size: 40px;
    margin-right: 25px;
  }
  a {
    color: #fff;
    opacity: 0.9;
  }
  h2,
  p {
    text-align: left;
    width: 100%;
    //max-width: 600px;
  }

  @media (max-width: 800px) {
    h2 {
      font-size: 16px;
      padding-top: 70px;
    }
    p {
      font-size: 13px;
    }
    p svg {
      font-size: 30px;
    }
  }
}
.profile-container {
  position: absolute;
  top: -80vh;
  height: 80vh;
  width: 100%;
  background: linear-gradient(to right, purple, cyan);
  transition: 800ms ease-in-out;
  z-index: 6;
  min-width: 800px;
  &.open {
    top: -15vh;
  }
}
.background {
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  width: 50%;
  left: 25%;
  transform: scale(2);
  transform-origin: center top;
  transition: 800ms ease-in-out;
  top: 0vh;
  z-index: 5;

  &.open {
    top: 65vh;
  }
}
.background svg {
  min-width: 400px;
}
.card {
  background: #fff;
  height: 120px;
  width: 200px;
  margin: 20px;

  @media (max-width: 600px) {
    height: 80px;
    width: 160px;
  }

  #waves {
    margin-top: 15px;
  }
  p {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    transition: 800ms;
    color: #000;
    opacity: 1;
  }
  h5 {
    //background: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    color: #000;
    padding: 7px 15px;
    text-align: center;
    transform-style: preserve-3d;
    transition: 800ms;

    width: 100%;
    margin: 10px auto 0px auto;
    display: inline-block;
    transform-origin: center center;
  }

  &:hover .inner-element {
    transform: translateZ(500px);
    opacity: 1;

    p {
      opacity: 1;
    }
  }
}
.makewaves-card {
  svg {
    transform-origin: center center;
  }
  path {
    transform: scaleX(3.4);
    transform-origin: center center;

    @media (max-width: 600px) {
      transform: scaleX(5) scaleY(3);
    }
  }
  .logo-container-makewaves {
    transform: scale(0.7) translateY(0px);
    @media (max-width: 600px) {
      transform: scale(0.6) translateY(0px);

      &.operator {
        transform: scale(1) translateY(0px);
      }
    }
    &.operator h5 {
      font-size: 1.2rem !important;
      @media (max-width: 600px) {
        font-size: 0.8rem !important;
      }
    }
  }
  .logo-container-makewaves path {
    transform: scale(1);
  }

  .inner-element {
    opacity: 1;

    @media (max-width: 600px) {
      height: 80px;
    }
  }
}
h5 {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 18px;
}
.darkToggleContainer {
  text-decoration: none;
  box-shadow: none;
}
.parallax-effect {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  border-radius: 15px;
  background: #fff; //url('https://images.unsplash.com/photo-1485627941502-d2e6429a8af0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzJ8fGFic3RyYWN0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  transform-style: preserve-3d;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 15px 25px rbga(0, 0, 0, 0.85);

  .inner-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 800ms;
    //opacity: 0.5;
    transform: translateZ(60px);
    z-index: 5;
  }
}
.tools-container {
  max-width: 90%;

  width: 800px;
  text-align: left;
  //background: #3c3c3c;
  border-radius: 12px;
  padding: 0;
  position: relative;
  margin-bottom: 100px;
  min-height: none;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;

  .card {
    margin: 0;
    margin-right: 30px;
  }
}

h4.badge {
  color: #fff;
  background: transparent;
  padding: 8px 0;
  font-family: Montserrat;
  //border-bottom: 1px solid #aaa;
  //padding-bottom: 5px;
  margin: 0 0 20px 0;
  font-weight: 600;
  width: auto;
  height: auto;
  font-size: 0.9rem;
  border-radius: 20px;
  display: inline-flex;

  position: relative;
  //box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);

  span {
    background: rgb(42, 52, 92);
    z-index: 1;
    position: relative;
    display: inline-flex;
    //padding: 0 10px;
  }

  // &:before {
  //   position: absolute;
  //   content: '';
  //   left: 0;
  //   top: 50%;
  //   width: 100%;
  //   height: 1px;
  //   background: rgba(255, 255, 255, 0.3);
  //   z-index: 0;
  // }
  svg {
    margin-right: 8px;
  }
  .blob {
    transform: scaleY(0.6) scaleX(1.3) !important;
    transform-origin: left top !important;
    position: absolute;
    left: -90px;
    width: 200px;
    top: -40px;
    z-index: -1;
  }
  .bgg {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transform: translateY(-35%);
    overflow: visible;

    path {
      transform: scaleX(6) scaleY(2) translateX(-15%);
    }
  }
}
.navv {
  display: flex;
  position: fixed;
  bottom: 30px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 51;
  left: 50vw;
  padding: 7px;
  width: 120px;
  justify-content: space-between;
  transform: translateX(-50%);
  box-shadow: 0 8px 35px rgba(50, 105, 132, 0.15);
  border-radius: 40px;

  svg {
    width: 27px;

    &:first-of-type {
      path {
        stroke-width: 2px;
      }
    }
    path {
      stroke-width: 2px;
    }
  }
  a {
    color: rgba(50, 105, 132, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.02);
    transition: 300ms;
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;

    &.active {
      background: linear-gradient(
        to right,
        rgba(128, 0, 128, 0.6),
        rgba(34, 69, 167, 0.6)
      );
      color: #fff;
    }
  }
}

a {
  color: rgba(50, 105, 132, 1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
h3 a {
  position: relative;

  &:hover:after {
    width: 120px;
  }
}
h3 a:after {
  background: rgba(50, 105, 132, 0.75);
  height: 3px;
  width: 80px;
  bottom: -5px;
  content: '';
  position: absolute;
  left: 0;
  transition: 250ms;
}

@media (max-width: 1100px) {
  .post-list {
  }
}
